/*
    Pour le dev du jeu
 */
.red {
    background-color: red;
}

.gray {
    background-color: gray;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

/*
    Elements
 */
html, body {
    /* min-width: 1346px; */
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
}

/*
    IDs
 */

#aside {
    margin-left: 3.5em;
}

#container {
    height: 100%;
    width: 100%;
    background-color: #afd3d4;
}

#topBar {
    -webkit-box-shadow: 0px -20px 23px 20px rgba(33, 33, 33, 1);
    -moz-box-shadow: 0px -20px 23px 20px rgba(33, 33, 33, 1);
    box-shadow: 0px -20px 23px 20px rgba(33, 33, 33, 1);
    background-color: #c6eaea;
    height: 8%;
}

#topBar div:first-child {
    background-color: white;
    height: 100%;
}

#topBar div:first-child p {
    margin-left: 20px;
}

#topBar div:first-child p:nth-child(2) {
    margin-right: 10px;
}

#topBar div:nth-child(2) p {
    right: 110px;
    top: 2%;
    position: absolute;
    z-index: 100;
}

#containerJeu {
    height: 92%;
}

#sous p {
    font-size: 35px;
}

#boxEtudiant {
    width: 100%;
    padding: 20px 0 20px 0;
    border-radius: 100px;
    background-color: white;
}

#etudiant {
    max-height: 100%;
}

#lstAction {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
    font-size: small;
    color: #afd3d4;
}

#lstAction .list-group a:first-child:before {
    border-width: 25px !important;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    top: -25px;
    left: 40%;
    position: absolute;
    content: "";
    display: block;
}

#lstAction .list-group a:first-child {
    border-radius: 10px 10px 0 0;
}

#lstAction .list-group a:last-child {
    border-radius: 0 0 10px 10px;
}

#soleil {
    position: absolute;
    top: -10%;
    right: 0;
    z-index: 99;
}


/*
    Classes
 */
.small-text {
    font-size: smaller;
}

.icone {
    width: 45px;
    margin-left: 1em;
}

.list-group-item {
    padding: 0.2em 0.5em;
    color: #afd3d4;
}

.progress {
    height: 25px;
    line-height: 25px;
    background-color: #355870;
    width: 60%;
    border-radius: 0;
}

.progress-bar {
    background-color: #d0fd1e;
    height: 25px;
    line-height: 25px;
    border: solid 3px #191a1c;
}

.bg-warning {
    background-color: #e7d523 !important;
}

.stat-name {
    text-transform: uppercase;
    color: #355870;
}

.xp {
    height: 35px;
    line-height: 35px;
    width: 325px;
}

.imgAction {
    height: 15%;
    width: 15%;
}

.list-group .list-group-item {
    height: 48px;
}


/*
    Media Queries
 */

@media screen and (min-height: 767px) {
    .container-fluid .test {
        height: 150vh;
    }
}

@media (max-width: 767px) {
    #topBar div:nth-child(2) p {
        right: 18%;
        top: 1%;
        position: absolute;
        z-index: 100;
    }

    #soleil {
        width: 47%;
    }

    #action::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    #action::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    #action::-webkit-scrollbar-thumb {
        background-color: #6e6e6e;
    }

    #lstAction {
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0);
    }

    #lstAction .list-group a:first-child:before {
        border-width: 0px !important;
    }

    #rowEtudiant {
        z-index: 101;
        height: 45vh;
    }

    #boxEtudiant {
        height: 50vh;
        margin-top: 10vh;
    }

    #action {
        padding:0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 50vh;
        margin-top: 5%;
    }

    .imgAction {
        height: 1%;
        width: 30%;
    }
}

@media (min-width: 767px) {

}

/*
    Resets
 */
p {
    animation: none;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0;
    border-style: none;
    border-width: medium;
    border-color: inherit;
    border-bottom: 0;
    border-bottom-color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image: none;
    border-left: 0;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right: 0;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top: 0;
    border-top-color: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: none;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: 0;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes: '\201C' '\201D' '\2018' '\2019';
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}
